/* .rocket{
    color: greenyellow;
    
} */

/* .rocket::after {
    content: ":\f1e5";
    font-family: FontAwesome;
    margin-left: 10px;
  }
  .rocket::before {
    content: ":\f1e5";
    font-family: FontAwesome;
    margin-right: 10px;
    }
  
    .media-intro{
      
      font-size: 2rem;
  }
  */



.lightyellow-bg {
    background-color: #24C263;
    /* background-color: rgb(233, 220, 106); */
}



.darkyellow {
    color: rgb(199, 183, 38);
}

.lightgreen-bg {
    background-color: rgb(183, 255, 111);
}

.darkgreen {
    color: rgb(134, 189, 80);
}

.lightpurple-bg {
    background-color: rgb(175, 113, 255);
}

.lightred-bg {
    background-color: rgb(255, 159, 178);
}

.lightgray-bg {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(161, 161, 161) ;
}

.iconright {
    transform: rotate(200deg);
    margin-left: 10px;
}

.iconleft {
    transform: rotate(160deg);
    margin-right: 10px;
}

.container_content {

margin-top: 50px;
 display: grid;
 grid-template-columns: repeat(10, 1fr);
    grid-template-rows:  auto 80px auto;
    grid-template-areas: 
    ". . head head head head head head . . "
    ". . . btn1 btn2 btn3 btn5  . . ."
    ". . blog blog blog blog blog blog . ."    ;

margin-bottom: 50px;

}

/* .container_content p, h1, h2, h3 {
    font-weight: 400;
} */

.container_content .headline {
    grid-area: head;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 50px;
}

/* The buttons for selecting the topics */

label[for=id_webdev] {
    grid-area: btn1;
    visibility: visible;
}

label[for=id_ui] {
    grid-area: btn2;
    visibility: visible;
}

label[for=id_secu] {
    grid-area: btn3;
    visibility: visible;
}

label[for=id_posit] {
    grid-area: btn4;
    visibility: visible;
}

label[for=id_grid] {
    grid-area: btn5;
    visibility: visible;
}


.visually-hidden {
    position: absolute;
    left: -100vw;
}

label {
    
    display: flex;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
    

}

label:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}


#id_webdev ~ label[for=id_webdev] {
    box-shadow: inset 4px 4px 6px #2726B8;
    color: white;
    opacity: 0.8;
}


#id_ui ~ label[for=id_ui] {
    /* box-shadow:  inset 3px 3px 5px rgb(199, 183, 38); */
    box-shadow: inset 4px 4px 6px #2726B8;
    color: white;
    opacity: 0.8;

}

#id_secu ~ label[for=id_secu] {
    /* box-shadow: inset 3px 3px 5px rgb(82, 61, 110); */
    box-shadow: inset 4px 4px 6px #2726B8;
    color: white;
    opacity: 0.8;
}

/* #id_posit ~ label[for=id_posit] {
    box-shadow: inset 3px 3px 5px rgb(134, 81, 91);
    box-shadow: inset 4px 4px 6px #2726B8;
    color: white;
    opacity: 0.8;
} */

#id_grid ~ label[for=id_grid] {
    /* box-shadow: inset 3px 3px 5px rgb(161, 161, 161); */
    box-shadow: inset 4px 4px 6px #2726B8;
    color: white;
    opacity: 0.8;
}


.container_inner {
    margin-top: 20px;
    grid-area: blog;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
   
}


/* Changing the button and the Blog Content No. 1 */


#id_webdev:checked ~ .container_inner .webdev {
    display: none;
   
}

#id_webdev:checked ~ label[for=id_webdev] {
    box-shadow:  4px 4px 6px #2726B8;
    color: black;
    opacity: 0.5;
}




#id_ui:checked ~ .container_inner .ui {
    display: none;
}

#id_ui:checked ~ label[for=id_ui] {
    /* box-shadow:  3px 3px 5px rgb(199, 183, 38); */
    box-shadow:  4px 4px 6px #2726B8;
    color: black;
    opacity: 0.5;
}




#id_secu:checked ~ .container_inner .secu {
    display: none;
}

#id_secu:checked ~ label[for=id_secu] {
    /* box-shadow:  3px 3px 5px rgb(82, 61, 110); */
    box-shadow:  4px 4px 6px #2726B8;
    color: black;
    opacity: 0.5;
}




#id_posit:checked ~ .container_inner .posit {
    display: none;
}

#id_posit:checked ~ label[for=id_posit] {
    /* box-shadow:  3px 3px 5px rgb(134, 81, 91); */
    box-shadow:  4px 4px 6px #2726B8;
    color: black;
    opacity: 0.1;
}


#id_grid:checked ~ .container_inner .grid {
    display: none;
}

#id_grid:checked ~ label[for=id_grid] {
    /* box-shadow:  3px 3px 5px rgb(161, 161, 161); */
    box-shadow:  4px 4px 6px #2726B8;
    color: black;
    opacity: 0.5;
}

.container_inner {
    width: 100%;
}

.blogarticle {
    
    width: 100%;
    /* border-bottom: 1px solid black; */
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
    /* background-color: rgba(233, 230, 230, 0.5); */
    box-shadow: 10px 10px 5px rgb(221, 219, 219);
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: justify;
}

.blogarticle p:first-of-type {
    font-style: italic;
    margin-bottom: 25px;
    
}

.blogarticle img {
    height: 130px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    
}

.blog_head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #2726B8;
    align-items: center;
    min-height: 50px;
    height: auto;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
}

.blog_head h3 {
    background-color: #2726B8;
    color:  rgba(255,255,255,.8);
    /* padding-top: 15px;
    padding-bottom: 15px; */
    padding-left: 10px;

}

.blog_head h4 {
    background-color: #24C263;
    color: white;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding-right: 10px;
    margin-left: 10px;
}

.line {
    margin-top: 10px;
    margin: 0 auto;
    height: 1px;
    width: 80%;
    border-top: 1px solid lightgrey
    
}



.blog_foot {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    
   
}

.blog_foot a {
    text-decoration: none;
    color: #24C263;
}

.blog_foot i {
    margin-left: 5px;
    color: #01B5E6;
}


footer {
    position: absolute;
    bottom: 0;
}

/* .webdev {
    border-left: 4px solid #01B5E6;
    
}

.secu {
    border-left: 4px solid rgb(175, 113, 255);
}

.ui {
    border-left: 4px solid rgb(233, 220, 106);

}

.posit {
    border-left: 4px solid rgb(255, 159, 178);

}

.grid {
    border-left: 4px solid rgb(224, 223, 223);

} */