.container {
 display: grid;
 grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto;
    grid-template-areas: 
    ". . . btn1 btn2 btn3 btn4 btn5 . ."
    ". blog blog blog blog blog blog blog blog ."    ;

}


/* The buttons for selecting the topics */

label[for=id_css] {
    grid-area: btn1;
    visibility: visible;
}

label[for=id_ui] {
    grid-area: btn2;
    visibility: visible;
}

label[for=id_flex] {
    grid-area: btn3;
    visibility: visible;
}

label[for=id_flex] {
    grid-area: btn4;
    visibility: visible;
}

label[for=id_posit] {
    grid-area: btn5;
    visibility: visible;
}

.visually-hidden {
    position: absolute;
    left: -100vw;
}

label {
    background: #45f74b;
    display: flex;
    width: 130px;
    height: 50px;
    border-radius: 30px;
    border: 5px solid blue;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 20px;

}


#id_css:checked ~ .container_inner .css {
    display: none;
}



