

.rocket::after {
    content: ":\f135";
    font-family: FontAwesome;
    margin-left: 10px;
  }
  .rocket::before {
    content: ":\f135";
    font-family: FontAwesome;
    margin-right: 10px;
  }
  .media-intro{
      
      font-size: 2rem;
  }
  .myDIV{
    position: relative;
    top: 30px;
  }
 .myDIV:hover + .hide{
    display: flex;
    position: absolute;
    
    
    
 }
 .hide {
    display: none;
 }