h1 {
    text-align: center;
    padding: 20px;
    color: #2726B8;
    margin-bottom: 20px;
    font-size: 4.5rem;
    background-color: #01B5E6;
}

h2 {
    margin-top: 20px;
    text-align: center;
    background-color: #01B5E6;
}


embed {
    padding: 20px;
    margin-left:25%;
}